<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% load static %}
{% block body_block%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Thanks| Sri Ram Janjanam{% endblock %}</title>
</head>
<body>
    <div id="thank">
        <h1 id="thanks">
            Thank you<span id="span">&#128151</span>for contacting<strong>SRI RAM JANJANAM!</strong> You will get reply with in 24hrs, please wait until I respond.........  <br> <br> <br>
        </h1>
    </div>
    {% endblock %}
</body>
</html>